# Description

 For the project, we will download data automatically from Citibike and store it into a database. 
 
 We will be using all of the data available from Citibike. In order to do that, we will need to download and save aroun 17 GB of data. Due to the large ammount of data, we can't really import data directly into a pandas dataframe, instead, we have two options:
 
 1. Import data in clusters as a dataframe and process them in batch.
 
 2. Import all the data into a SQLite3 Database on the Hard Drive, and process them through SQL. 
 
 I chose the second one due to the flexibility of the database model, since everything is stored localy and it provides the posibility to append at any time without any repercutions. The data can also be queried by other programs (eg. a website)
 
 
 ## 1. Libraries
 
We are importing all the required libraries for the project

In [1]:
import pylab as pl #plot package
import pandas as pd #powerful dataframe package
import numpy as np # math package
import os #file management package
import sqlite3 # Database management package
import requests #For downloading files
from zipfile import ZipFile 
import re # for filtering text
import numpy as np # For pretty printing
import glob

## 2. Data preparation

In this step we are setting up data to be analysed.

### 2.1 Directory management 

We are creating a directory named data in the root directory.

We create a data folder in order to have a specific place where we do file manipulation and data management.

This is so we don't have all kinds of files in our root directory and it looks pretty :)

In [2]:

# We check if we are in the data folder 
current_dir=os.getcwd()
if 'data' in current_dir:
    os.chdir('..')

# We are setting the home directory to the Jupyter Root directory
HOME_DIR=os.getcwd()
print (HOME_DIR)

# We are saving the location of the data directory                       
DATA_DIR=HOME_DIR+'/data'
print(DATA_DIR)

# We check if the directory exists, if not,                        
try:
    os.makedirs(DATA_DIR)
    print("Creating directory" + DATA_DIR)
except FileExistsError :
        print("Directory {} already exists".format(DATA_DIR))
os.chdir(DATA_DIR)
print("Changing directory to {}".format(DATA_DIR))

/home/jovyan
/home/jovyan/data
Creating directory/home/jovyan/data
Changing directory to /home/jovyan/data

### 2.2 Database setup

We are setting up a database in order to

In [3]:
# Creating or connecting to the data sqlite db and setting the cursor there

database_connection = sqlite3.connect('ImportedData.db')
database_cursor = database_connection.cursor()

##TODO Describe cursor and why it's there

In [4]:
# Creating a table that traks downloaded files so we don't have to import them again

database_cursor.execute("CREATE TABLE IF NOT EXISTS file_data(file_name TEXT UNIQUE)")
database_connection.commit()
pd.read_sql_query("Select * from file_data",database_connection)

Empty DataFrame
Columns: [file_name]
Index: []

### 2.3 Querying the Citibike data 

We are checking the data available on the citibike website. This is hosted on Amazon AwS in the tripdata Bucket.

The citybike data is hosted on amazon bitbucket 

What we do is we fetch the XML from s3, we parse it for files that are marked down inbetween `<Key>`

We filtered the files that start with `2`, so that we don't get any files from Jersey City, since they start with `JC` and all the others start with `2`

In [5]:
# Fetching a file list of all available files on the Citybike data server

s3_url = "https://s3.amazonaws.com/tripdata"

s3_xml_file = requests.get(s3_url).text

files_on_s3 = re.findall (r'<Key>(2.*?zip)</Key>', s3_xml_file) 
files_on_s3.sort()

print ('We have found the following files on S3 ')

print ("\n".join(files_on_s3))

We have found the following files on S3
201306-citibike-tripdata.zip
201307-201402-citibike-tripdata.zip
201307-citibike-tripdata.zip
201308-citibike-tripdata.zip
201309-citibike-tripdata.zip
201310-citibike-tripdata.zip
201311-citibike-tripdata.zip
201312-citibike-tripdata.zip
201401-citibike-tripdata.zip
201402-citibike-tripdata.zip
201403-citibike-tripdata.zip
201404-citibike-tripdata.zip
201405-citibike-tripdata.zip
201406-citibike-tripdata.zip
201407-citibike-tripdata.zip
201408-citibike-tripdata.zip
201409-citibike-tripdata.zip
201410-citibike-tripdata.zip
201411-citibike-tripdata.zip
201412-citibike-tripdata.zip
201501-citibike-tripdata.zip
201502-citibike-tripdata.zip
201503-citibike-tripdata.zip
201504-citibike-tripdata.zip
201505-citibike-tripdata.zip
201506-citibike-tripdata.zip
201507-citibike-tripdata.zip
201508-citibike-tripdata.zip
201509-citibike-tripdata.zip
201510-citibike-tripdata.zip
201511-citibike-tripdata.zip
201512-citibike-tripdata.zip
201601-citibike-tripdata.zip
201602-citibike-tripdata.zip
201603-citibike-tripdata.zip
201604-citibike-tripdata.zip
201605-citibike-tripdata.zip
201606-citibike-tripdata.zip
201607-citibike-tripdata.zip
201608-citibike-tripdata.zip
201609-citibike-tripdata.zip
201610-citibike-tripdata.zip
201611-citibike-tripdata.zip
201612-citibike-tripdata.zip
201701-citibike-tripdata.csv.zip
201702-citibike-tripdata.csv.zip
201703-citibike-tripdata.csv.zip
201704-citibike-tripdata.csv.zip
201705-citibike-tripdata.csv.zip
201706-citibike-tripdata.csv.zip
201707-citibike-tripdata.csv.zip
201708-citibike-tripdata.csv.zip
201709-citibike-tripdata.csv.zip
201710-citibike-tripdata.csv.zip
201711-citibike-tripdata.csv.zip
201712-citibike-tripdata.csv.zip
201801-citibike-tripdata.csv.zip
201802-citibike-tripdata.csv.zip
201803-citibike-tripdata.csv.zip
201804-citibike-tripdata.csv.zip
201805-citibike-tripdata.csv.zip
201806-citibike-tripdata.csv.zip
201807-citibike-tripdata.csv.zip
201808-citibike-tripdata.csv.zip
201809-citibike-tripdata.csv.zip
201810-citibike-tripdata.csv.zip
201811-citibike-tripdata.csv.zip
201812-citibike-tripdata.csv.zip
201901-citibike-tripdata.csv.zip
201902-citibike-tripdata.csv.zip
201903-citibike-tripdata.csv.zip
201904-citibike-tripdata.csv.zip
201905-citibike-tripdata.csv.zip
201906-citibike-tripdata.csv.zip
201907-citibike-tripdata.csv.zip
201908-citibike-tripdata.csv.zip
201909-citibike-tripdata.csv.zip
201910-citibike-tripdata.csv.zip

### 2.4 Setup methods for file management

Here we define all the methods we will use when adding data into the database. We have 5 methods one for downloading, one for unzipping, one for checking if the file exists in the database, one for adding the file in the database, and a cleanup

In [6]:
def download_file(filename):
    delete_files_ending_with('zip')
    download_url = s3_url + '/' + filename
    print("Downloading file: " + download_url)
    file_data = requests.get(download_url)
    open(filename, 'wb').write(file_data.content)
    
def unzipping_file(filename):
    file = ZipFile(filename,'r')
    print("Extracting... ")
    file.extractall()
    unzipped_file = glob.glob('*.csv')
    print("Extracted " + unzipped_file[0] + " from " + filename + ". Deleting archive to save space...")
    delete_files_ending_with('zip')
    return unzipped_file[0]

def delete_files_ending_with(extension):
    for file in glob.glob('*'+ extension):
            os.remove(file)

def file_has_been_added_to_the_database(filename):
    database_cursor.execute("SELECT file_name FROM file_data WHERE file_name = ?",(filename,))
    if database_cursor.fetchone() is None:
        return False
    else:
        return True

def save_file_name_into_database(filename):
    database_cursor.execute("INSERT INTO file_data (file_name) VALUES(?)",(filename,))
    database_connection.commit()

def import_data_from_file_into_database(filename):
    print("Adding "+ filename + "into the database")
    file_data = pd.read_csv(extracted_file, names=['tripduration','starttime','stoptime','start_station_id','start_station_name',
                                      'start_station_latitude', 'start_station_longitude', 'end_station_id',
                                      'end_station_name', 'end_station_latitude', 'end_station_longitude', 'bikeid',
                                      'usertype', 'birth_year', 'gender'], parse_dates = ['starttime','stoptime'], infer_datetime_format=True, header=None, skiprows=[0])
    file_data['starttime'] =  file_data['starttime'].dt.strftime("%Y-%m-%d %H:%M:%S")
    file_data['stoptime'] =  file_data['stoptime'].dt.strftime("%Y-%m-%d %H:%M:%S")
    file_data.to_sql('trip_data', database_connection, if_exists='append')
    database_connection.commit()
    print("Data from "+filename+" added to the database")

### 2.5 Inserting data into the database

Now we check compare the data we have with whatever is on the server. With the methods from above, we download, extract, save the data into the database, save the file name into the database when it's parsed, and delete necessary files along the way.

In [7]:
file_count = 0

for file in files_on_s3:
    if not file_has_been_added_to_the_database(file):
        try:
            download_file(file)
            extracted_file = unzipping_file(file)
            import_data_from_file_into_database(extracted_file)
            save_file_name_into_database(file)
            delete_files_ending_with('csv')
            file_count += 1 #la final face count  la cate fisiere am adaugat
        except XLRDError:
            print("Close any open files and try again")

print('We imported '+file_count+' files into imported_data')

Downloading file: https://s3.amazonaws.com/tripdata/201306-citibike-tripdata.zip
Extracting...
Extracted 201306-citibike-tripdata.csv from 201306-citibike-tripdata.zip. Deleting archive to save space...
Adding 201306-citibike-tripdata.csvinto the database
Data from 201306-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201307-201402-citibike-tripdata.zip
Extracting...
Extracted 2013-09 - Citi Bike trip data.csv from 201307-201402-citibike-tripdata.zip. Deleting archive to save space...
Adding 2013-09 - Citi Bike trip data.csvinto the database
Data from 2013-09 - Citi Bike trip data.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201307-citibike-tripdata.zip
Extracting...
Extracted 2013-07 - Citi Bike trip data.csv from 201307-citibike-tripdata.zip. Deleting archive to save space...
Adding 2013-07 - Citi Bike trip data.csvinto the database
Data from 2013-07 - Citi Bike trip data.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201308-citibike-tripdata.zip
Extracting...
Extracted 2013-08 - Citi Bike trip data.csv from 201308-citibike-tripdata.zip. Deleting archive to save space...
Adding 2013-08 - Citi Bike trip data.csvinto the database
Data from 2013-08 - Citi Bike trip data.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201309-citibike-tripdata.zip
Extracting...
Extracted 2013-09 - Citi Bike trip data.csv from 201309-citibike-tripdata.zip. Deleting archive to save space...
Adding 2013-09 - Citi Bike trip data.csvinto the database
Data from 2013-09 - Citi Bike trip data.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201310-citibike-tripdata.zip
Extracting...
Extracted 2013-10 - Citi Bike trip data.csv from 201310-citibike-tripdata.zip. Deleting archive to save space...
Adding 2013-10 - Citi Bike trip data.csvinto the database
Data from 2013-10 - Citi Bike trip data.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201311-citibike-tripdata.zip
Extracting...
Extracted 2013-11 - Citi Bike trip data.csv from 201311-citibike-tripdata.zip. Deleting archive to save space...
Adding 2013-11 - Citi Bike trip data.csvinto the database
Data from 2013-11 - Citi Bike trip data.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201312-citibike-tripdata.zip
Extracting...
Extracted 2013-12 - Citi Bike trip data.csv from 201312-citibike-tripdata.zip. Deleting archive to save space...
Adding 2013-12 - Citi Bike trip data.csvinto the database
Data from 2013-12 - Citi Bike trip data.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201401-citibike-tripdata.zip
Extracting...
Extracted 2014-01 - Citi Bike trip data.csv from 201401-citibike-tripdata.zip. Deleting archive to save space...
Adding 2014-01 - Citi Bike trip data.csvinto the database
Data from 2014-01 - Citi Bike trip data.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201402-citibike-tripdata.zip
Extracting...
Extracted 2014-02 - Citi Bike trip data.csv from 201402-citibike-tripdata.zip. Deleting archive to save space...
Adding 2014-02 - Citi Bike trip data.csvinto the database
Data from 2014-02 - Citi Bike trip data.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201403-citibike-tripdata.zip
Extracting...
Extracted 2014-03 - Citi Bike trip data.csv from 201403-citibike-tripdata.zip. Deleting archive to save space...
Adding 2014-03 - Citi Bike trip data.csvinto the database
Data from 2014-03 - Citi Bike trip data.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201404-citibike-tripdata.zip
Extracting...
Extracted 2014-04 - Citi Bike trip data.csv from 201404-citibike-tripdata.zip. Deleting archive to save space...
Adding 2014-04 - Citi Bike trip data.csvinto the database
Data from 2014-04 - Citi Bike trip data.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201405-citibike-tripdata.zip
Extracting...
Extracted 2014-05 - Citi Bike trip data.csv from 201405-citibike-tripdata.zip. Deleting archive to save space...
Adding 2014-05 - Citi Bike trip data.csvinto the database
Data from 2014-05 - Citi Bike trip data.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201406-citibike-tripdata.zip
Extracting...
Extracted 2014-06 - Citi Bike trip data.csv from 201406-citibike-tripdata.zip. Deleting archive to save space...
Adding 2014-06 - Citi Bike trip data.csvinto the database
Data from 2014-06 - Citi Bike trip data.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201407-citibike-tripdata.zip
Extracting...
Extracted 2014-07 - Citi Bike trip data.csv from 201407-citibike-tripdata.zip. Deleting archive to save space...
Adding 2014-07 - Citi Bike trip data.csvinto the database
Data from 2014-07 - Citi Bike trip data.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201408-citibike-tripdata.zip
Extracting...
Extracted 2014-08 - Citi Bike trip data.csv from 201408-citibike-tripdata.zip. Deleting archive to save space...
Adding 2014-08 - Citi Bike trip data.csvinto the database
Data from 2014-08 - Citi Bike trip data.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201409-citibike-tripdata.zip
Extracting...
Extracted 201409-citibike-tripdata.csv from 201409-citibike-tripdata.zip. Deleting archive to save space...
Adding 201409-citibike-tripdata.csvinto the database
Data from 201409-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201410-citibike-tripdata.zip
Extracting...
Extracted 201410-citibike-tripdata.csv from 201410-citibike-tripdata.zip. Deleting archive to save space...
Adding 201410-citibike-tripdata.csvinto the database
Data from 201410-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201411-citibike-tripdata.zip
Extracting...
Extracted 201411-citibike-tripdata.csv from 201411-citibike-tripdata.zip. Deleting archive to save space...
Adding 201411-citibike-tripdata.csvinto the database
Data from 201411-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201412-citibike-tripdata.zip
Extracting...
Extracted 201412-citibike-tripdata.csv from 201412-citibike-tripdata.zip. Deleting archive to save space...
Adding 201412-citibike-tripdata.csvinto the database
Data from 201412-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201501-citibike-tripdata.zip
Extracting...
Extracted 201501-citibike-tripdata.csv from 201501-citibike-tripdata.zip. Deleting archive to save space...
Adding 201501-citibike-tripdata.csvinto the database
Data from 201501-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201502-citibike-tripdata.zip
Extracting...
Extracted 201502-citibike-tripdata.csv from 201502-citibike-tripdata.zip. Deleting archive to save space...
Adding 201502-citibike-tripdata.csvinto the database
Data from 201502-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201503-citibike-tripdata.zip
Extracting...
Extracted 201503-citibike-tripdata.csv from 201503-citibike-tripdata.zip. Deleting archive to save space...
Adding 201503-citibike-tripdata.csvinto the database
Data from 201503-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201504-citibike-tripdata.zip
Extracting...
Extracted 201504-citibike-tripdata.csv from 201504-citibike-tripdata.zip. Deleting archive to save space...
Adding 201504-citibike-tripdata.csvinto the database
Data from 201504-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201505-citibike-tripdata.zip
Extracting...
Extracted 201505-citibike-tripdata.csv from 201505-citibike-tripdata.zip. Deleting archive to save space...
Adding 201505-citibike-tripdata.csvinto the database
Data from 201505-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201506-citibike-tripdata.zip

Extracting...
Extracted 201506-citibike-tripdata.csv from 201506-citibike-tripdata.zip. Deleting archive to save space...
Adding 201506-citibike-tripdata.csvinto the database
Data from 201506-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201507-citibike-tripdata.zip
Extracting...
Extracted 201507-citibike-tripdata.csv from 201507-citibike-tripdata.zip. Deleting archive to save space...
Adding 201507-citibike-tripdata.csvinto the database
Data from 201507-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201508-citibike-tripdata.zip
Extracting...
Extracted 201508-citibike-tripdata.csv from 201508-citibike-tripdata.zip. Deleting archive to save space...
Adding 201508-citibike-tripdata.csvinto the database
Data from 201508-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201509-citibike-tripdata.zip
Extracting...
Extracted 201509-citibike-tripdata.csv from 201509-citibike-tripdata.zip. Deleting archive to save space...
Adding 201509-citibike-tripdata.csvinto the database
Data from 201509-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201510-citibike-tripdata.zip
Extracting...
Extracted 201510-citibike-tripdata.csv from 201510-citibike-tripdata.zip. Deleting archive to save space...
Adding 201510-citibike-tripdata.csvinto the database
Data from 201510-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201511-citibike-tripdata.zip
Extracting...
Extracted 201511-citibike-tripdata.csv from 201511-citibike-tripdata.zip. Deleting archive to save space...
Adding 201511-citibike-tripdata.csvinto the database
Data from 201511-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201512-citibike-tripdata.zip
Extracting...
Extracted 201512-citibike-tripdata.csv from 201512-citibike-tripdata.zip. Deleting archive to save space...
Adding 201512-citibike-tripdata.csvinto the database
Data from 201512-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201601-citibike-tripdata.zip
Extracting...
Extracted 201601-citibike-tripdata.csv from 201601-citibike-tripdata.zip. Deleting archive to save space...
Adding 201601-citibike-tripdata.csvinto the database
Data from 201601-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201602-citibike-tripdata.zip
Extracting...
Extracted 201602-citibike-tripdata.csv from 201602-citibike-tripdata.zip. Deleting archive to save space...
Adding 201602-citibike-tripdata.csvinto the database
Data from 201602-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201603-citibike-tripdata.zip
Extracting...
Extracted 201603-citibike-tripdata.csv from 201603-citibike-tripdata.zip. Deleting archive to save space...
Adding 201603-citibike-tripdata.csvinto the database
Data from 201603-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201604-citibike-tripdata.zip
Extracting...
Extracted 201604-citibike-tripdata.csv from 201604-citibike-tripdata.zip. Deleting archive to save space...
Adding 201604-citibike-tripdata.csvinto the database
Data from 201604-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201605-citibike-tripdata.zip
Extracting...
Extracted 201605-citibike-tripdata.csv from 201605-citibike-tripdata.zip. Deleting archive to save space...
Adding 201605-citibike-tripdata.csvinto the database
Data from 201605-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201606-citibike-tripdata.zip
Extracting...
Extracted 201606-citibike-tripdata.csv from 201606-citibike-tripdata.zip. Deleting archive to save space...
Adding 201606-citibike-tripdata.csvinto the database
Data from 201606-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201607-citibike-tripdata.zip
Extracting...
Extracted 201607-citibike-tripdata.csv from 201607-citibike-tripdata.zip. Deleting archive to save space...
Adding 201607-citibike-tripdata.csvinto the database
Data from 201607-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201608-citibike-tripdata.zip
Extracting...
Extracted 201608-citibike-tripdata.csv from 201608-citibike-tripdata.zip. Deleting archive to save space...
Adding 201608-citibike-tripdata.csvinto the database
Data from 201608-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201609-citibike-tripdata.zip
Extracting...
Extracted 201609-citibike-tripdata.csv from 201609-citibike-tripdata.zip. Deleting archive to save space...
Adding 201609-citibike-tripdata.csvinto the database
Data from 201609-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201610-citibike-tripdata.zip
Extracting...
Extracted 201610-citibike-tripdata.csv from 201610-citibike-tripdata.zip. Deleting archive to save space...
Adding 201610-citibike-tripdata.csvinto the database
Data from 201610-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201611-citibike-tripdata.zip
Extracting...
Extracted 201611-citibike-tripdata.csv from 201611-citibike-tripdata.zip. Deleting archive to save space...
Adding 201611-citibike-tripdata.csvinto the database
Data from 201611-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201612-citibike-tripdata.zip
Extracting...
Extracted 201612-citibike-tripdata.csv from 201612-citibike-tripdata.zip. Deleting archive to save space...
Adding 201612-citibike-tripdata.csvinto the database
Data from 201612-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201701-citibike-tripdata.csv.zip
Extracting...
Extracted 201701-citibike-tripdata.csv from 201701-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201701-citibike-tripdata.csvinto the database
Data from 201701-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201702-citibike-tripdata.csv.zip
Extracting...
Extracted 201702-citibike-tripdata.csv from 201702-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201702-citibike-tripdata.csvinto the database
Data from 201702-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201703-citibike-tripdata.csv.zip
Extracting...
Extracted 201703-citibike-tripdata.csv from 201703-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201703-citibike-tripdata.csvinto the database
Data from 201703-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201704-citibike-tripdata.csv.zip
Extracting...
Extracted 201704-citibike-tripdata.csv from 201704-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201704-citibike-tripdata.csvinto the database
Data from 201704-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201705-citibike-tripdata.csv.zip
Extracting...
Extracted 201705-citibike-tripdata.csv from 201705-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201705-citibike-tripdata.csvinto the database
Data from 201705-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201706-citibike-tripdata.csv.zip
Extracting...
Extracted 201706-citibike-tripdata.csv from 201706-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201706-citibike-tripdata.csvinto the database
Data from 201706-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201707-citibike-tripdata.csv.zip
Extracting...
Extracted 201707-citibike-tripdata.csv from 201707-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201707-citibike-tripdata.csvinto the database
Data from 201707-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201708-citibike-tripdata.csv.zip

Extracting...
Extracted 201708-citibike-tripdata.csv from 201708-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201708-citibike-tripdata.csvinto the database
Data from 201708-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201709-citibike-tripdata.csv.zip
Extracting...
Extracted 201709-citibike-tripdata.csv from 201709-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201709-citibike-tripdata.csvinto the database
Data from 201709-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201710-citibike-tripdata.csv.zip
Extracting...
Extracted 201710-citibike-tripdata.csv from 201710-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201710-citibike-tripdata.csvinto the database
Data from 201710-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201711-citibike-tripdata.csv.zip
Extracting...
Extracted 201711-citibike-tripdata.csv from 201711-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201711-citibike-tripdata.csvinto the database
Data from 201711-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201712-citibike-tripdata.csv.zip
Extracting...
Extracted 201712-citibike-tripdata.csv from 201712-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201712-citibike-tripdata.csvinto the database
Data from 201712-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201801-citibike-tripdata.csv.zip
Extracting...
Extracted 201801-citibike-tripdata.csv from 201801-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201801-citibike-tripdata.csvinto the database
Data from 201801-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201802-citibike-tripdata.csv.zip
Extracting...
Extracted 201802-citibike-tripdata.csv from 201802-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201802-citibike-tripdata.csvinto the database
Data from 201802-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201803-citibike-tripdata.csv.zip
Extracting...
Extracted 201803-citibike-tripdata.csv from 201803-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201803-citibike-tripdata.csvinto the database
Data from 201803-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201804-citibike-tripdata.csv.zip
Extracting...
Extracted 201804-citibike-tripdata.csv from 201804-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201804-citibike-tripdata.csvinto the database
Data from 201804-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201805-citibike-tripdata.csv.zip
Extracting...
Extracted 201805-citibike-tripdata.csv from 201805-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201805-citibike-tripdata.csvinto the database
Data from 201805-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201806-citibike-tripdata.csv.zip
Extracting...
Extracted 201806-citibike-tripdata.csv from 201806-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201806-citibike-tripdata.csvinto the database
Data from 201806-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201807-citibike-tripdata.csv.zip
Extracting...
Extracted 201807-citibike-tripdata.csv from 201807-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201807-citibike-tripdata.csvinto the database
Data from 201807-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201808-citibike-tripdata.csv.zip
Extracting...
Extracted 201808-citibike-tripdata.csv from 201808-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201808-citibike-tripdata.csvinto the database
Data from 201808-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201809-citibike-tripdata.csv.zip
Extracting...
Extracted 201809-citibike-tripdata.csv from 201809-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201809-citibike-tripdata.csvinto the database
Data from 201809-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201810-citibike-tripdata.csv.zip
Extracting...
Extracted 201810-citibike-tripdata.csv from 201810-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201810-citibike-tripdata.csvinto the database
Data from 201810-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201811-citibike-tripdata.csv.zip
Extracting...
Extracted 201811-citibike-tripdata.csv from 201811-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201811-citibike-tripdata.csvinto the database
Data from 201811-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201812-citibike-tripdata.csv.zip
Extracting...
Extracted 201812-citibike-tripdata.csv from 201812-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201812-citibike-tripdata.csvinto the database
Data from 201812-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201901-citibike-tripdata.csv.zip
Extracting...
Extracted 201901-citibike-tripdata.csv from 201901-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201901-citibike-tripdata.csvinto the database
Data from 201901-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201902-citibike-tripdata.csv.zip
Extracting...
Extracted 201902-citibike-tripdata.csv from 201902-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201902-citibike-tripdata.csvinto the database
Data from 201902-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201903-citibike-tripdata.csv.zip
Extracting...
Extracted 201903-citibike-tripdata.csv from 201903-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201903-citibike-tripdata.csvinto the database
Data from 201903-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201904-citibike-tripdata.csv.zip
Extracting...
Extracted 201904-citibike-tripdata.csv from 201904-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201904-citibike-tripdata.csvinto the database
Data from 201904-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201905-citibike-tripdata.csv.zip
Extracting...
Extracted 201905-citibike-tripdata.csv from 201905-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201905-citibike-tripdata.csvinto the database
Data from 201905-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201906-citibike-tripdata.csv.zip
Extracting...
Extracted 201906-citibike-tripdata.csv from 201906-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201906-citibike-tripdata.csvinto the database
Data from 201906-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201907-citibike-tripdata.csv.zip
Extracting...
Extracted 201907-citibike-tripdata.csv from 201907-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201907-citibike-tripdata.csvinto the database
Data from 201907-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201908-citibike-tripdata.csv.zip
Extracting...
Extracted 201908-citibike-tripdata.csv from 201908-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201908-citibike-tripdata.csvinto the database
Data from 201908-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201909-citibike-tripdata.csv.zip
Extracting...
Extracted 201909-citibike-tripdata.csv from 201909-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201909-citibike-tripdata.csvinto the database

Data from 201909-citibike-tripdata.csv added to the database
Downloading file: https://s3.amazonaws.com/tripdata/201910-citibike-tripdata.csv.zip
Extracting...
Extracted 201910-citibike-tripdata.csv from 201910-citibike-tripdata.csv.zip. Deleting archive to save space...
Adding 201910-citibike-tripdata.csvinto the database
Data from 201910-citibike-tripdata.csv added to the database

NameError: name 'files_count' is not defined

In [8]:
sql_to_be_processed = """SELECT bikeid, tripduration, gender,starttime, stoptime ,usertype, birth_year, 
                        cast(strftime('%Y', stoptime) as int) as stop_year,
                        cast(strftime('%Y', stoptime) as int) as start_year,
                         case 
                            when birth_year != 'NaN' 
                                then strftime('%Y','now') - cast(birth_year as int)
                            else null 
                        end age 
                        FROM trip_data""" 
        
pd.read_sql_query(sql_to_be_processed+ " limit 50", database_connection)

,bikeid,tripduration,gender,starttime,stoptime,usertype,birth_year,stop_year,start_year,age
0,19678,695,1,2013-06-01 00:00:01,2013-06-01 00:11:36,Subscriber,1983.0,2013,2013,36.0
1,16649,693,1,2013-06-01 00:00:08,2013-06-01 00:11:41,Subscriber,1984.0,2013,2013,35.0
2,19599,2059,0,2013-06-01 00:00:44,2013-06-01 00:35:03,Customer,NaN,2013,2013,NaN
3,16352,123,1,2013-06-01 00:01:04,2013-06-01 00:03:07,Subscriber,1960.0,2013,2013,59.0
4,15567,1521,1,2013-06-01 00:01:22,2013-06-01 00:26:43,Subscriber,1983.0,2013,2013,36.0
5,18445,2028,0,2013-06-01 00:01:47,2013-06-01 00:35:35,Customer,NaN,2013,2013,NaN
6,15693,2057,1,2013-06-01 00:02:33,2013-06-01 00:36:50,Subscriber,1991.0,2013,2013,28.0
7,16100,369,1,2013-06-01 00:03:29,2013-06-01 00:09:38,Subscriber,1981.0,2013,2013,38.0
8,15234,1829,1,2013-06-01 00:03:47,2013-06-01 00:34:16,Subscriber,1984.0,2013,2013,35.0
9,16400,829,1,2013-06-01 00:04:22,2013-06-01 00:18:11,Subscriber,1987.0,2013,2013,32.0
10,19781,1316,1,2013-06-01 00:04:28,2013-06-01 00:26:24,Subscriber,1960.0,2013,2013,59.0
11,18886,1456,0,2013-06-01 00:04:41,2013-06-01 00:28:57,Customer,NaN,2013,2013,NaN
12,19039,386,1,2013-06-01 00:05:13,2013-06-01 00:11:39,Subscriber,1981.0,2013,2013,38.0
13,16608,924,0,2013-06-01 00:05:21,2013-06-01 00:20:45,Customer,NaN,2013,2013,NaN
14,14761,1233,1,2013-06-01 00:06:44,2013-06-01 00:27:17,Subscriber,1987.0,2013,2013,32.0
15,19080,512,2,2013-06-01 00:03:36,2013-06-01 00:12:08,Subscriber,1979.0,2013,2013,40.0
16,16798,505,1,2013-06-01 00:03:45,2013-06-01 00:12:10,Subscriber,1984.0,2013,2013,35.0
17,19072,833,0,2013-06-01 00:07:29,2013-06-01 00:21:22,Customer,NaN,2013,2013,NaN
18,20349,1818,0,2013-06-01 00:08:10,2013-06-01 00:38:28,Customer,NaN,2013,2013,NaN
19,20176,682,0,2013-06-01 00:08:53,2013-06-01 00:20:15,Customer,NaN,2013,2013,NaN
20,15539,899,1,2013-06-01 00:09:25,2013-06-01 00:24:24,Subscriber,1967.0,2013,2013,52.0
21,17122,626,1,2013-06-01 00:09:52,2013-06-01 00:20:18,Subscriber,1982.0,2013,2013,37.0
22,16301,219,1,2013-06-01 00:10:28,2013-06-01 00:14:07,Subscriber,1977.0,2013,2013,42.0
23,15628,339,1,2013-06-01 00:10:45,2013-06-01 00:16:24,Subscriber,1969.0,2013,2013,50.0
24,18614,97,1,2013-06-01 00:11:00,2013-06-01 00:12:37,Subscriber,1985.0,2013,2013,34.0
25,19853,511,1,2013-06-01 00:10:50,2013-06-01 00:19:21,Subscriber,1979.0,2013,2013,40.0
26,17615,198,1,2013-06-01 00:11:10,2013-06-01 00:14:28,Subscriber,1982.0,2013,2013,37.0
27,18970,482,0,2013-06-01 00:11:30,2013-06-01 00:19:32,Customer,NaN,2013,2013,NaN
28,19477,395,1,2013-06-01 00:11:52,2013-06-01 00:18:27,Subscriber,1970.0,2013,2013,49.0
29,18489,424,1,2013-06-01 00:11:53,2013-06-01 00:18:57,Subscriber,1957.0,2013,2013,62.0
30,16963,1077,1,2013-06-01 00:12:28,2013-06-01 00:30:25,Subscriber,1982.0,2013,2013,37.0
31,16164,689,1,2013-06-01 00:12:33,2013-06-01 00:24:02,Subscriber,1982.0,2013,2013,37.0
32,18855,435,1,2013-06-01 00:14:16,2013-06-01 00:21:31,Subscriber,1976.0,2013,2013,43.0
33,16443,1997,2,2013-06-01 00:14:47,2013-06-01 00:48:04,Subscriber,1969.0,2013,2013,50.0
34,20306,226,2,2013-06-01 00:15:01,2013-06-01 00:18:47,Subscriber,1980.0,2013,2013,39.0
35,17664,1679,0,2013-06-01 00:14:58,2013-06-01 00:42:57,Customer,NaN,2013,2013,NaN
36,19842,351,1,2013-06-01 00:15:19,2013-06-01 00:21:10,Subscriber,1977.0,2013,2013,42.0
37,16937,1221,0,2013-06-01 00:15:27,2013-06-01 00:35:48,Customer,NaN,2013,2013,NaN
38,17317,624,2,2013-06-01 00:15:37,2013-06-01 00:26:01,Subscriber,1972.0,2013,2013,47.0
39,20228,277,1,2013-06-01 00:15:47,2013-06-01 00:20:24,Subscriber,1974.0,2013,2013,45.0
40,19116,846,2,2013-06-01 00:15:43,2013-06-01 00:29:49,Subscriber,1975.0,2013,2013,44.0
41,18414,200,1,2013-06-01 00:16:19,2013-06-01 00:19:39,Subscriber,1983.0,2013,2013,36.0
42,16991,722,1,2013-06-01 00:13:08,2013-06-01 00:25:10,Subscriber,1985.0,2013,2013,34.0
43,17518,141,1,2013-06-01 00:16:30,2013-06-01 00:18:51,Subscriber,1962.0,2013,2013,57.0
44,19817,808,1,2013-06-01 00:16:52,2013-06-01 00:30:20,Subscriber,1960.0,2013,2013,59.0
45,16330,1505,1,2013-06-01 00:17:29,2013-06-01 00:42:34,Subscriber,1980.0,2013,2013,39.0
46,18817,2577,0,2013-06-01 00:17:30,2013-06-01 01:00:27,Customer,NaN,2013,2013,NaN
47,19543,1503,0,2013-06-01 00:17:42,2013-06-01 00:42:45,Customer,NaN,2013,2013,NaN
48,17995,553,1,2013-06-01 00:08:47,2013-06-01 00:18:00,Subscriber,1986.0,2013,2013,33.0
49,15903,790,2,2013-06-01 00:17:55,2013-06-01 00:31:05,Subscriber,1967.0,2013,2013,52.0

In [ ]:
database_cursor.execute("CREATE TABLE bike_data as SELECT bikeid " +
                        " , sum(tripduration) as bike_lifecycle" 
                        " , max(stop_year) as last_year_of_use"
                        " , min(start_year) as first_year_of_use"
                        " , count(bikeid) as number_of_uses"
                        " , count(case when gender = '1' then 1 else null end) as number_of_men_per_bike"
                        " , count(case when gender = '2' then 1 else null end) as number_of_women_per_bike"
                        " , count(case when usertype = 'Subscriber' then 1 else null end) as number_subscribers"
                        " , count(case when  age <= 30 then 1 else null end) as under_30"
                        " , count(case when age > 31 and age <= 40 then 1 else null end) as beween_31_40"
                        " , count(case when age > 41 and age <= 50 then 1 else null end) as beween_41_50"
                        " , count(case when age > 50 then 1 else null end) as over_50"
                        " FROM (" + sql_to_be_processed +")" 
                        "GROUP BY bikeid ")

database_connection.commit()